.skills {
  background-color: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do container */
}

.skills .skills__content ul li .image-container img {
  width: 100%; /* Faz a imagem ocupar todo o espaço do container */
  height: 100%; /* Faz a imagem ocupar todo o espaço do container */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
  border-radius: 50%; /* Mantém a imagem redonda */
  transition: transform 0.1s ease-in-out; /* Adiciona uma transição suave */
}

/* Animação de flutuação */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Aplica a animação ao container da imagem */
.skills .skills__content ul li .image-container:hover img {
  animation: float 1.5s ease-in-out infinite; /* Aplica a animação ao passar o mouse */
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}


